/* main bible verse, text formatting */
.section,
.chapter {
	line-height: 1.8;
}
@media (max-width: 480px) {
	.section,
	.chapter {
		line-height: 1.5;
	}	
}
.section p,
.section div.p,
.chapter div.p {
	text-indent: 1em;
	margin: 0;
}

.section ins {
	text-decoration: none;
	font-style: italic;
}

.chapter-num {
	float: left;
	font-size: 2em;
	line-height: 1;
	margin: 0 .25em .5em 0;
}

.chapter-num + p {
	text-indent: 0;
}

.chapter[dir=rtl] .chapter-num {
	float: right;
	margin: 0 0 .5em .5em;
}

.verse-num,
.v-num {
	font-weight: bold;
	font-size: 70%;
	vertical-align: top;
	color: #333;
	font-family: Avenir, helvetica;
}


/* notes and cross references */
.note,
.cf {
	display: inline;
}

.note .key,
.cf .key {
	vertical-align: top;
	font-size: 60%;
	font-weight: normal;
	font-style: normal;
	color: #7491CE;
	cursor: pointer;
	display: inline;
	text-decoration: none;
}

.note  +.note,
.note + .cf,
.cf + .note,
.cf + .cf {
	padding-left: 0.20em;
}
@media (max-width: 480px) {

	.note  +.note,
	.note + .cf,
	.cf + .note,
	.cf + .cf {
		padding-left: 0.50em;
	}	
	
}

.chapter .note .key:hover,
.chapter .cf.key:hover {
	color: #fff;
	background: #33C;
}

.chapter .note .text,
.chapter .cf .text {
	display: none;
}

.document-footer .cf .key,
.document-footer .note .key {
	display: inline;
	vertical-align: top;
	font-size: 8px;
	font-weight: bold;
	color: #33C;
}

.text .notetype {
	font-weight: bold;
	font-style: italic;
}

.bibleref,
.xt {
	color: #7491CE;
	cursor: pointer;
}

.bibleref:hover,
.xt:hover {
	text-decoration: underline;
}

/* Gospels red letters */
.woc,
.wj {
	color: #A00;
}

.yhwh,
.nog {
	font-variant: small-caps;
}

.add {
	font-style: italic;
}

.chapter .note .text,
.chapter .cf .text,
#search-results .note,
#search-results .cf {
	display: none;
}

/* most books */
.section .c,
.section .chapter-num,
.section .c-num {
	float: left;
	font-size: 2em;
	line-height: 1;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: .2em;
	font-family: avenir, helvetica;
}

[dir=rtl] .c,
[dir=rtl] .section .chapter-num,
[dir=rtl] .section .c-num {
	float: right;
	margin-right: 0;
	margin-left: .2em;
}

div.c + div.p,
.chapter-num + div.p {
	text-indent: 0!important;
}

div.c + div.q {
	clear: both;
}

.v-1 {
	display: none;
}

/* Psalms */
.PS .c {
	font-size: 1.2em;
	margin-top: 2em;
	text-align: center;
	float: none;
}

.PS .v-1 {
	display: inline;
}

div.c + div.q .v-1 {
	display: inline;
}

.v {
	padding: .3em 0;
}


.section[lang=he] .p,
.chapter[lang=he] .p,
.section[lang=heb] .p,
.chapter[lang=heb] .p {
	font-size: 125%;
}


.windows-container .section[lang=he],
.windows-container [lang=he],
.windows-container .section[lang=heb],
.windows-container [lang=heb] {
	font-family: 'SBL Hebrew', EzraSIL;
}


.windows-container .section[lang=grc],
.windows-container [lang=grc],
.windows-container .section[lang=el],
.windows-container [lang=el] {
	font-family: GentiumPlus, 'Gentium Plus';
}


/* put chapter on other side */
.section[dir=rtl] .c,
.section[dir=rtl] .c {
	float: right;
	margin-right: 0;
	margin-left: .2em;
}



h3.is1,
div.s,
div.is1 {
	color: #333;
	font-weight: bold;
	margin-top: 1em;
}

.PS .s,
.PS .ms {
	text-align: center;
}

.q, .q1 {
	padding-left: 3em!important;
	text-indent: -1.5em!important;
	position: relative;
}

.q2 {
	padding-left: 4em!important;
	text-indent: -1.5em!important;
	position: relative;
}

.q .verse-num,
.q .v-num {
	position: absolute;
	display: block;
	width: 2em;
	text-align: right;
	top: 0;
	left: 0;
}

.qs {
	text-align: right;
	font-style: italic;
}

.c + .p,
.c + p {
	margin-top: 0;
	text-indent: 0;
}

.d {
	font-size: .8em;
	text-align: center;
}

/* USFM */
.mt {
	display: block;
	text-align: center;
	font-size: 2em;
	margin-top: 3em;
	margin-bottom: 1em;
	line-height: 1.2;
	-moz-text-align-last: auto;
}

.mt2,
.mt3 {
	display: block;
	text-align: center;
	font-size: 1.4em;
	margin-top: 3em;
	line-height: 1.2;
}

.mt2 + .mt,
.mt3 + .mt,
.mt2 + .mt3,
.mt2 + .mt2 {
	margin-top: 0;
}

/* introduction */
.is {
	margin-top: 1em;
	text-align: center;
	-moz-text-align-last: auto;
}

.ip {
	line-height: 1.4;
	font-size: .9em;
	text-indent: 1.5em;
	margin-top: 1em;
	margin-bottom: 2em;
}

/* commentaries */
.comm-v-num {
	font-weight: bold;
	display: block;
	margin: 3em 0 0;
}

.commentary {
	line-height: 1.5;
	font-size: .9em;
}
