.up-arrow {
	position: absolute;
	top: -10px;
	left: 20px;
	z-index: 102;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #444;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.up-arrow-border {
	position: absolute;
	top: -11px;
	left: 20px;
	z-index: 101;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #ccc;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

/* NAV */
.text-navigator {
/*position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: #ccc;
	padding: 1px 0 0 1px;
	font-family: Avenir, Helvetica, Arial;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 320px;
	 */
	width: 320px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	padding: 0;
	font-family: Avenir, Helvetica, Arial;
	font-size: 14px;
	-x-border: solid 1px #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.5), 0 0 30px #EEE inset;
}

.text-navigator .up-arrow {
	position: absolute;
	top: -10px;
	left: 20px;
	z-index: 102;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #444;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.text-navigator .up-arrow-border {
	display: none;
	position: absolute;
	top: -11px;
	left: 20px;
	z-index: 101;
	width: 0;
	height: 0;
	display: block;
	border-bottom: 10px solid #ccc;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

.text-navigator .text-navigator-header {
/*background: #333;
	padding: 8px;
	color: #fff;
	position: relative;
	 */
	padding: 8px;
	color: #fff;
	position: relative;
	-x-border-bottom: solid 1px #ccc;
	background: #444;
}

.text-navigator .text-navigator-close {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
}

.text-navigator .text-navigator-divisions,
.text-navigator .text-navigator-sections {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 4px;
}

.text-navigator .text-navigator-division-header {
	clear: both;
	height: 30px;
	padding: 10px 0 0 5px;
	font-weight: bold;
}

.text-navigator .text-navigator-division {
	float: left;
	width: 38px;
	height: 38px;
	margin: 1px 1px 0 0;
	border: solid 1px transparent;
	background: #eee;
	color: #333;
	text-align: center;
	padding: 10px 0 0;
	cursor: pointer;
}

.text-navigator .text-navigator-division:hover {
	border-bottom-color: #ccc;
}

.text-navigator .text-navigator-section:hover {
	outline: solid 1px #2a85e8;
}

.text-navigator-divisions-full .text-navigator-division {
	float: none;
	display: block;
	text-align: left;
	width: auto;
	height: 30px;
	padding: 5px 0 0 10px;
}

.text-navigator-divisions-full[dir=rtl] .text-navigator-division {
	text-align: right;
}

.text-navigator-fullname {
	position: absolute;
	z-index: 110;
	border-bottom-color: #ccc;
	height: 38px;
	margin: 1px 1px 0 0;
	border: solid 1px #ccc;
	background: #eee;
	color: #333;
	text-align: left;
	padding: 10px 10px 0;
	cursor: pointer;
	pointer-events: none;
	font-size: 14px;
}

/* penta */
.text-navigator .divisionid-GN,
.text-navigator .divisionid-EX,
.text-navigator .divisionid-LV,
.text-navigator .divisionid-NU,
.text-navigator .divisionid-DT {
	background: #efe;
}

.text-navigator .divisionid-JS,
.text-navigator .divisionid-JG,
.text-navigator .divisionid-RT,
.text-navigator .divisionid-S1,
.text-navigator .divisionid-S2,
.text-navigator .divisionid-K1,
.text-navigator .divisionid-K2,
.text-navigator .divisionid-R1,
.text-navigator .divisionid-R2,
.text-navigator .divisionid-ER,
.text-navigator .divisionid-NH,
.text-navigator .divisionid-ET {
	background: #eef;
}

.text-navigator .divisionid-JB,.text-navigator .divisionid-PS,.text-navigator .divisionid-PR,.text-navigator .divisionid-EC,.text-navigator .divisionid-SS,/* out of order in English! */
.text-navigator .divisionid-LM {
	background: #fef;
}

.text-navigator .divisionid-IS,.text-navigator .divisionid-JR,/.text-navigator .divisionid-LM,*/
.text-navigator .divisionid-EK,
.text-navigator .divisionid-DN {
	background: #fee;
}

.text-navigator .divisionid-HS,
.text-navigator .divisionid-JL,
.text-navigator .divisionid-AM,
.text-navigator .divisionid-OB,
.text-navigator .divisionid-JH,
.text-navigator .divisionid-MC,
.text-navigator .divisionid-NM,
.text-navigator .divisionid-HK,
.text-navigator .divisionid-ZP,
.text-navigator .divisionid-HG,
.text-navigator .divisionid-ZC,
.text-navigator .divisionid-ML {
	background: #ffe;
}

/* gospels */
.text-navigator .divisionid-MT,
.text-navigator .divisionid-MK,
.text-navigator .divisionid-LK,
.text-navigator .divisionid-JN {
	background: #fee;
}

.text-navigator .divisionid-AC {
	background: #fce;
}

.text-navigator .divisionid-RM,
.text-navigator .divisionid-C1,
.text-navigator .divisionid-C2,
.text-navigator .divisionid-GL,
.text-navigator .divisionid-EP,
.text-navigator .divisionid-PP,
.text-navigator .divisionid-CL,
.text-navigator .divisionid-H1,
.text-navigator .divisionid-H2,
.text-navigator .divisionid-T1,
.text-navigator .divisionid-T2,
.text-navigator .divisionid-TT,
.text-navigator .divisionid-PM {
	background: #eef;
}

.text-navigator .divisionid-HB,
.text-navigator .divisionid-JM,
.text-navigator .divisionid-P1,
.text-navigator .divisionid-P2,
.text-navigator .divisionid-J1,
.text-navigator .divisionid-J2,
.text-navigator .divisionid-J3,
.text-navigator .divisionid-JD {
	background: #eff;
}

.text-navigator .divisionid-RV {
	background: #fef;
}

.text-navigator .text-navigator-section {
	float: left;
	width: 38px;
	height: 38px;
	margin: 1px 1px 0 0;
	background: #eee;
	color: #333;
	text-align: center;
	padding: 10px 0 0;
	cursor: pointer;
}

.text-navigator .text-navigator-section:hover {
	outline: solid 1px #2a85e8;
}

.text-navigator-sections[dir=rtl] .text-navigator-section {
	float: right;
}
