<div class="row">
	<div class="col-md-4">
		<h4>Licence Textes</h4>
		<p>Les différents textes bibliques autres que la <abbr title="Bible de Yéhoshoua ha Mashiah">BYM</abbr> sont soumis à leurs licences respectives. <a href="https://gitlab.com/anjc/bjc-source/blob/master/LICENCE.md" target=_blank">Consulter la licence</a> de la <abbr title="Bible de Yéhoshoua ha Mashiah">BYM</abbr> et ses éléments.</p>
	</div>
	<div class="col-md-4">
		<h4>Licence Site Web</h4>
		<p>Le code source de ce site est librement disponible (<a href="https://gitlab.com/anjc/web/bjc-website" target="_blank">Git</a>), sous la licence de son application d'origine (<a href="https://github.com/digitalbiblesociety/browserbible-3/" target="_blank">BrowserBible3</a>) quand celle-ci aura été <a href="https://github.com/digitalbiblesociety/browserbible-3/issues/46" target="_blank">déterminée</a>.</p>
	</div>
	<div class="col-md-4">
		<h4>Partenaires</h4>
		<a href="http://www.tv2vie.org" target="_blank" title="télévision chrétienne"><img src="css/images/partenaires/tv2vie.png" alt="tv2vie" /></a>
		<a href="http://www.lesdokimos.org" target="_blank" title="magazine chrétien"><img src="css/images/partenaires/dokimos.png" alt="les dokimos" /></a>
		<a href="http://www.painquotidien.org" target="_blank" title="association caritative chrétienne"><img src="css/images/partenaires/pain-quot.png" alt="pain quotidien" /></a>
		<a href="http://www.famille2vie.org" target="_blank" title="enseignements famille chrétienne"><img src="css/images/partenaires/famille2vie.png" alt="famille2vie" /></a>
	</div>
	<div class="col-md-4">
		<p><a href="politique.html" title="politique de confidentialité">Politique de confidentialité</a>
	</div>
</div>
