<div class="row tab first-tab">
	<div class="col-md-12">
		<h1>La vision</h1>
	</div>
</div>
<div class="row tab other-tab">
	<div class="col-md-offset-1 col-md-10 textes">
		<p>La langue française est parlée par plus de 274 millions de personnes, ce qui en fait la cinquième langue la plus parlée au monde. Elohîm nous a mis à cœur d'imprimer des millions d'exemplaires de la BYM et de les distribuer gratuitement, tout d'abord dans l'ensemble des pays francophones. Ensuite, au fur et à mesure des traductions qui seront effectuées, la BYM sera diffusée dans le reste du monde.</p>
		<a class="btn btn-default" href="index.html" role="button">&laquo; Retourner à l'accueil</a>
	</div>
</div>
